.text-font {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 18;
}

.avatar {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-alignment: baseline-center;
}

.message-background {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    /*-fx-background-color: #b8860b;*/
    -fx-background-color: #495e78;
}

.chat-kind-label {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 25;
}

.chat-background {
    /*-fx-background-color: rgba(216, 164, 67, 0.96);*/
    -fx-background-color: #909eb9;
}
.send-message-box {
    -fx-border-radius: 20;
    -fx-background-radius: 10;
    -fx-background-color: rgb(200, 212, 234);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport{
    -fx-background-color: transparent;
}

.scroll-pane .content{
    -fx-background-color: transparent;
}

.send-button {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgb(200, 212, 234);
}

.members {
    -fx-background-color: #909eb9;
}
.titled-pane
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused
{
    -fx-text-fill: white;
}
.titled-pane > .title
{
    -fx-background-color: -fx-box-border, -fx-inner-border, #909eb9;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 5 5, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title
{
    -fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
    -fx-background-color: #909eb9;
}

.titled-pane > *.content
{
    -fx-background-color:
            -fx-box-border,
            rive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 1, 1 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: #909eb9;
}