.root {
    -fx-background-color: linear-gradient(rgb(216, 190, 158), rgb(218, 194, 164)),
    radial-gradient(center 50% 50%, radius 50%, rgba(195, 164, 135, 0.22), rgba(193, 153, 105, 0));
}

.button {
    -fx-alignment: center;
    -fx-background-radius: 9;
    -fx-background-color: linear-gradient(to left, #6f402a, #c89350);
}


.button:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(111, 64, 42), #c89350);
}

.toggle-button {
    -fx-alignment: center;
    -fx-background-radius: 9;
    -fx-background-color: linear-gradient(to left, #6f402a, #c89350);
}
.toggle-button:focused {
    -fx-background-color: linear-gradient(to bottom, rgba(111, 64, 42), #92724d);
}

.text-field {
    -fx-border-radius: 9;
    -fx-border-width: 1;
    -fx-background-radius: 9;
    -fx-background-color: radial-gradient(center 80% 80%, radius 50%, rgba(218, 201, 186, 0.74), rgba(211, 201, 189, 0.75));
    -fx-border-color: rgba(111, 64, 42, 0.7);
}
.label1 {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 150px;
}

.number {
    -fx-font-family: "Roboto Light", sans-serif;
    -fx-font-size: 120px;
    -fx-text-alignment: left;
    -fx-alignment: center;
}

.label2 {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 20;
}

.text-left {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 20;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}
.text-center {
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.play-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #c89350, #6f402a);

}

.play-button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, #6f402a, #c89350);
}

.polygon {
    -fx-fill: black;
}

.polygon:hover {
    -fx-fill: white;
}

.exit-button {
    -fx-background-radius: 50%;
    -fx-background-color: rgb(216, 190, 158);
    -fx-font-size: 30px;
}

.exit-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.56);
}

.profile-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-background-color: rgb(171, 130, 80);
    -fx-background-position: center;

}

.menu-button {
    -fx-alignment: center;
    -fx-background-radius: 9;
    -fx-background-color: radial-gradient(center 0px 0px, radius 100%, #683f0b, #6f402a);
}

.menu-button .label {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: rgb(216, 190, 158);
}

.menu-button .context-menu {
    -fx-background-radius: 5;
    -fx-pref-width: 149;
    -fx-background-color: radial-gradient(center 0px 0px, radius 100%, rgba(104, 63, 11, 0.44), rgba(111, 64, 42, 0.44));
    -fx-alignment: center;
}

.menu-button .menu {
    -fx-text-alignment: center;
}
.color-picker {
    -fx-background-radius: 9;
    -fx-text-alignment: center;
    -fx-background-color: radial-gradient(center 0px 0px, radius 100%, #683f0b, #6f402a);
}

.color-picker .label {
    -fx-text-alignment: center;
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: rgb(216, 190, 158);
}

.color-picker .color-box {
    -fx-background-radius: 5;
    -fx-pref-width: 232;
    -fx-background-color: radial-gradient(center 0px 0px, radius 100%, rgba(104, 63, 11, 0.44), rgba(111, 64, 42, 0.44));
}

.progress-bar {
    -fx-background-radius: 10;
    -fx-box-border: linear-gradient(rgb(216, 190, 158), rgb(218, 194, 164));
    -fx-padding: 0.416667em;
    -fx-pref-height: 35;
    -fx-pref-width: 140;
    -fx-border-radius: 30;
    -fx-background-insets: 0, 1, 2;
}

.green-bar {
    -fx-accent: green;
}

.yellow-bar {
    -fx-accent: yellow;
}

.orange-bar {
    -fx-accent: orange;
}

.red-bar {
    -fx-accent: red;
}

.brown-bar {
    -fx-accent: rgb(104, 63, 11)
}
.black-bar {
    -fx-accent: black
}


.label3 {
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-font-size: 70;
    -fx-text-fill: black;
}.label4 {
     -fx-font-family: "Times New Roman", sans-serif;
     -fx-font-size: 20;
     -fx-text-fill: black;
 }

.image-view {
    -fx-border-radius: 50;
    -fx-alignment: center;
}